.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.navBar:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 99;
}
.section___4F396 {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 128px;
  background: linear-gradient(#ffffffcc, #ffffffcc),
    url("/plasmic/commerce_landing_page/images/hero.png") top 50% left 50% / cover repeat;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section___4F396 {
    padding-bottom: 0px;
  }
}
.container3 {
  flex-direction: column;
  max-width: 1024px;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.container3 > :global(.__wab_flex-container) > *,
.container3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container3 > :global(.__wab_flex-container) > picture > img,
.container3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 32px;
}
.freeBox__vGNz {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__vGNz > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__vGNz > :global(.__wab_flex-container) > *,
.freeBox__vGNz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vGNz > :global(.__wab_flex-container) > picture > img,
.freeBox__vGNz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox___8JMWf {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox___8JMWf > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___8JMWf > :global(.__wab_flex-container) > *,
.freeBox___8JMWf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8JMWf > :global(.__wab_flex-container) > picture > img,
.freeBox___8JMWf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h1 {
  font-family: "Poppins", sans-serif;
  font-size: 64px;
  font-weight: 800;
  line-height: 1.25;
  position: relative;
  text-align: center;
}
.text__jbpKm {
  width: 100%;
  height: auto;
  text-align: center;
  color: var(--token-e2qRLurtLAJjI);
  min-width: 0;
}
.button__lGuqr:global(.__wab_instance) {
  position: relative;
}
.svg__skKlH {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__eetLy {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.section__jIvMg {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f2f2f7;
  padding: 32px;
}
.container4 {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  flex-column-gap: 0px;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 0px 32px;
}
.freeBox__yA4Uj {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.text__w7Eu {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  position: relative;
  left: auto;
  top: auto;
  height: auto;
}
.button__si8Ew:global(.__wab_instance) {
  position: relative;
}
.svg__hu2Bs {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__z8NCt {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.container {
  flex-direction: row;
  max-width: 1024px;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.container > :global(.__wab_flex-container) > *,
.container > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container > :global(.__wab_flex-container) > picture > img,
.container
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
.productCard__qpves:global(.__wab_instance) {
  position: relative;
}
.svg__zWdA2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___70URo {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__hfUrL {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
  height: auto;
}
.text__opHZx {
  width: 100%;
  height: auto;
  text-align: left;
  color: var(--token-C1Veo5obbY56Y);
  min-width: 0;
}
.rating__o3QkI:global(.__wab_instance) {
  position: relative;
}
.productCard__s4GxW:global(.__wab_instance) {
  position: relative;
}
.svg__wyRg6 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__nH2N {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__jTpnR {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__qOhKz {
  width: 100%;
  height: auto;
  color: var(--token-C1Veo5obbY56Y);
  text-align: left;
  min-width: 0;
}
.rating__k7NYf:global(.__wab_instance) {
  position: relative;
}
.productCard__tdR6D:global(.__wab_instance) {
  position: relative;
}
.svg__lv1Ut {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___1LxL5 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__adeCy {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__eZWr {
  width: 100%;
  height: auto;
  color: var(--token-C1Veo5obbY56Y);
  text-align: left;
  min-width: 0;
}
.rating__ciNWz:global(.__wab_instance) {
  position: relative;
}
.productCard___69JWl:global(.__wab_instance) {
  position: relative;
}
.svg__vuy82 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__zj0QJ {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__roOqS {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__puAs {
  width: 100%;
  height: auto;
  color: var(--token-C1Veo5obbY56Y);
  text-align: left;
  min-width: 0;
}
.rating__mu94H:global(.__wab_instance) {
  position: relative;
}
.productCard__zogjb:global(.__wab_instance) {
  position: relative;
}
.svg__tGfmR {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__doEDw {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__jPyaJ {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__nlh5Z {
  width: 100%;
  height: auto;
  color: var(--token-C1Veo5obbY56Y);
  text-align: left;
  min-width: 0;
}
.rating__bm2Jy:global(.__wab_instance) {
  position: relative;
}
.productCard__jCwbb:global(.__wab_instance) {
  position: relative;
}
.svg__m0XGt {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__iTip9 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__ccNiu {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__ilgOx {
  width: 100%;
  height: auto;
  text-align: left;
  color: var(--token-C1Veo5obbY56Y);
  min-width: 0;
}
.rating__lTzP:global(.__wab_instance) {
  position: relative;
}
.section___7Tdt8 {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(#000000d9, #000000d9),
    url("https://images.unsplash.com/photo-1612902376491-7a8a99b424e8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTZ8fHNob2VzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=60")
      left 50% top 50% / cover;
}
.freeBox___56Mmr {
  flex-direction: column;
  max-width: 1024px;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 64px;
}
.freeBox___56Mmr > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___56Mmr > :global(.__wab_flex-container) > *,
.freeBox___56Mmr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___56Mmr > :global(.__wab_flex-container) > picture > img,
.freeBox___56Mmr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___56Mmr {
    display: flex;
    flex-direction: column;
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___56Mmr > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___56Mmr > :global(.__wab_flex-container) > *,
  .freeBox___56Mmr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___56Mmr > :global(.__wab_flex-container) > picture > img,
  .freeBox___56Mmr
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__ocMee {
  flex-direction: column;
  display: flex;
}
.freeBox__ocMee > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__ocMee > :global(.__wab_flex-container) > *,
.freeBox__ocMee > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ocMee > :global(.__wab_flex-container) > picture > img,
.freeBox__ocMee
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__s6HdQ {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__s6HdQ > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__s6HdQ > :global(.__wab_flex-container) > *,
.freeBox__s6HdQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__s6HdQ > :global(.__wab_flex-container) > picture > img,
.freeBox__s6HdQ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__zjV5S {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  color: #ffffff;
  text-align: center;
}
.text__kroUh {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  white-space: pre-wrap;
  position: relative;
  color: #cccccc;
  height: auto;
  text-align: center;
}
.freeBox__fpaE {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__fpaE > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__fpaE > :global(.__wab_flex-container) > *,
.freeBox__fpaE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fpaE > :global(.__wab_flex-container) > picture > img,
.freeBox__fpaE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fpaE {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fpaE > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fpaE > :global(.__wab_flex-container) > *,
  .freeBox__fpaE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__fpaE > :global(.__wab_flex-container) > picture > img,
  .freeBox__fpaE
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.text__gPnwD {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
  color: #cccccc;
  height: auto;
  white-space: pre-wrap;
  text-align: center;
}
.svg__kM0Dc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__kvj0F {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.emojiValueProps:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.columns {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 1024px;
  min-width: 0;
  padding: 32px;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 12px;
  }
}
.column__h5M7W {
  display: flex;
  position: relative;
  flex-direction: column;
}
.value__kU5Vi:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__fu8Wr {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__vjCMk {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__wimD2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__xpvp0:global(.__wab_instance) {
  position: relative;
}
.svg__bRa7 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vmouC {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__wdfr3 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.value__sQ5Q3:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__xGuot {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__er5Uz {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__x0MNl {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button___0P1Vr:global(.__wab_instance) {
  position: relative;
}
.svg__xvA9B {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lQrv {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__jl2X8 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.value__rwgPh:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__rwgPh:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__qMwRd {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__jqUTp {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__o5NZi {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__jM3Bj:global(.__wab_instance) {
  position: relative;
}
.svg__uEyZa {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fbI77 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.section__u2DrB {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 32px;
  padding-top: 32px;
  position: relative;
  background: #f2f2f7;
}
.container42 {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  flex-column-gap: 0px;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 0px 32px;
}
.freeBox__azfUv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.text__cYlBa {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  position: relative;
  left: auto;
  top: auto;
  height: auto;
}
.button___9AeSn:global(.__wab_instance) {
  position: relative;
}
.svg__fAXb9 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vxSvo {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.container5 {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100%;
  align-items: center;
  min-width: 0;
}
.freeBox___0DGY {
  flex-direction: row;
  display: flex;
  position: relative;
  padding: 32px;
}
.freeBox___0DGY > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox___0DGY > :global(.__wab_flex-container) > *,
.freeBox___0DGY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0DGY > :global(.__wab_flex-container) > picture > img,
.freeBox___0DGY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.svg__xPBtv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__a2OTm {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__dK8A {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___6J8Lf {
  width: 100%;
  height: auto;
  color: var(--token-C1Veo5obbY56Y);
  text-align: left;
  min-width: 0;
}
.rating__wmUhw:global(.__wab_instance) {
  position: relative;
}
.productCard__fUej:global(.__wab_instance) {
  position: relative;
}
.svg__yn8Pi {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ct08N {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__m7Cp3 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__lYtlr {
  width: 100%;
  height: auto;
  color: var(--token-C1Veo5obbY56Y);
  text-align: left;
  min-width: 0;
}
.rating___9Acx7:global(.__wab_instance) {
  position: relative;
}
.productCard__lSu6U:global(.__wab_instance) {
  position: relative;
}
.svg__xmLlp {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___1WoVm {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__lhux9 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__ldap5 {
  width: 100%;
  height: auto;
  color: var(--token-C1Veo5obbY56Y);
  text-align: left;
  min-width: 0;
}
.rating__qevV1:global(.__wab_instance) {
  position: relative;
}
.productCard__paRfH:global(.__wab_instance) {
  position: relative;
}
.svg__tcCu7 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__dVl0Q {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__mPxWu {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__leU4E {
  width: 100%;
  height: auto;
  color: var(--token-C1Veo5obbY56Y);
  text-align: left;
  min-width: 0;
}
.rating__tyC7A:global(.__wab_instance) {
  position: relative;
}
.productCard__jTyzn:global(.__wab_instance) {
  position: relative;
}
.svg__oheEf {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jxx3D {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__i8W9B {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__v1VEy {
  width: 100%;
  height: auto;
  color: var(--token-C1Veo5obbY56Y);
  text-align: left;
  min-width: 0;
}
.rating__bCbXq:global(.__wab_instance) {
  position: relative;
}
.productCard__cxOlY:global(.__wab_instance) {
  position: relative;
}
.svg__jH4Oj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__cPaFe {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__a2VB {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__gb3Di {
  width: 100%;
  height: auto;
  text-align: left;
  color: var(--token-C1Veo5obbY56Y);
  min-width: 0;
}
.rating__sVKeC:global(.__wab_instance) {
  position: relative;
}
.section__p1Qw {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container6 {
  flex-direction: row;
  max-width: 1366px;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container6 > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container6 > :global(.__wab_flex-container) > *,
.container6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container6 > :global(.__wab_flex-container) > picture > img,
.container6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 > :global(.__wab_flex-container) > *,
  .container6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .container6 > :global(.__wab_flex-container) > picture > img,
  .container6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__aBgJ8 {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__aBgJ8 > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__aBgJ8 > :global(.__wab_flex-container) > *,
.freeBox__aBgJ8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aBgJ8 > :global(.__wab_flex-container) > picture > img,
.freeBox__aBgJ8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__morIi {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  left: auto;
  top: auto;
  padding: 8px 12px;
}
.button__cWcF:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__pa1Jl {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__lmYcs {
  height: auto;
}
.svg___9UhAf {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__k7NNh:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__smg7 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__nkVw4 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__kx2T:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__wksS5 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__q5OjM {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__liOpX:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__fkPPp {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__aqpj {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__wglx1:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__iA73 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qZk81 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__kmD1:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__bi04R {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__ymLmX {
  height: auto;
}
.svg__pFle {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox___7QlOf {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox___7QlOf > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___7QlOf > :global(.__wab_flex-container) > *,
.freeBox___7QlOf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7QlOf > :global(.__wab_flex-container) > picture > img,
.freeBox___7QlOf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7QlOf > :global(.__wab_flex-container) {
    justify-content: center;
  }
}
.productCard__xwCzN:global(.__wab_instance) {
  position: relative;
}
.svg__brMEz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wLvUz {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__bpCq7 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__f8Zp {
  width: 100%;
  height: auto;
  color: var(--token-C1Veo5obbY56Y);
  text-align: left;
  min-width: 0;
}
.rating__sgURs:global(.__wab_instance) {
  position: relative;
}
.productCard__xuIJx:global(.__wab_instance) {
  position: relative;
}
.svg__ta53J {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___4BMqm {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__vSmXv {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__srGdb {
  width: 100%;
  height: auto;
  color: var(--token-C1Veo5obbY56Y);
  text-align: left;
  min-width: 0;
}
.rating__rDvE6:global(.__wab_instance) {
  position: relative;
}
.productCard___0EhOd:global(.__wab_instance) {
  position: relative;
}
.svg___0X60U {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___591F {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__ziw4S {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__yrfqP {
  width: 100%;
  height: auto;
  color: var(--token-C1Veo5obbY56Y);
  text-align: left;
  min-width: 0;
}
.rating___0YKGp:global(.__wab_instance) {
  position: relative;
}
.productCard___0Lwaj:global(.__wab_instance) {
  position: relative;
}
.svg__wcHw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___2KBmi {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__rgihA {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__w3ElJ {
  width: 100%;
  height: auto;
  color: var(--token-C1Veo5obbY56Y);
  text-align: left;
  min-width: 0;
}
.rating__zlopT:global(.__wab_instance) {
  position: relative;
}
.productCard__egfA:global(.__wab_instance) {
  position: relative;
}
.svg__qulC {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ck7Cd {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__pFcAu {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__uqmuR {
  width: 100%;
  height: auto;
  color: var(--token-C1Veo5obbY56Y);
  text-align: left;
  min-width: 0;
}
.rating__d01II:global(.__wab_instance) {
  position: relative;
}
.productCard__pj91H:global(.__wab_instance) {
  position: relative;
}
.svg__dlFLn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___4JmjG {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__my89C {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__ySViw {
  width: 100%;
  height: auto;
  color: var(--token-C1Veo5obbY56Y);
  text-align: left;
  min-width: 0;
}
.rating___7KlWd:global(.__wab_instance) {
  position: relative;
}
.productCard__fup5M:global(.__wab_instance) {
  position: relative;
}
.svg__hoMuK {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___4LUkK {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__yNmP4 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__cRoRf {
  width: 100%;
  height: auto;
  color: var(--token-C1Veo5obbY56Y);
  text-align: left;
  min-width: 0;
}
.rating__eK83L:global(.__wab_instance) {
  position: relative;
}
.productCard__a0A38:global(.__wab_instance) {
  position: relative;
}
.svg__yqGQ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__l7KOj {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text___5JLn {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__zWmYh {
  width: 100%;
  height: auto;
  color: var(--token-C1Veo5obbY56Y);
  text-align: left;
  min-width: 0;
}
.rating___3Sbcq:global(.__wab_instance) {
  position: relative;
}
.productCard__vDsYo:global(.__wab_instance) {
  position: relative;
}
.svg__iu5Bd {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mxTd7 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__x9FIn {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__mRcjw {
  width: 100%;
  height: auto;
  color: var(--token-C1Veo5obbY56Y);
  text-align: left;
  min-width: 0;
}
.rating__bhOwz:global(.__wab_instance) {
  position: relative;
}
.productCard__paZzo:global(.__wab_instance) {
  position: relative;
}
.svg__yGmww {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__okmRt {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__csC7S {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__lKwnp {
  width: 100%;
  height: auto;
  color: var(--token-C1Veo5obbY56Y);
  text-align: left;
  min-width: 0;
}
.rating__gMkwv:global(.__wab_instance) {
  position: relative;
}
.productCard__g2L9N:global(.__wab_instance) {
  position: relative;
}
.svg___2JMKp {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___5AHhp {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__pO11P {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___6G75I {
  width: 100%;
  height: auto;
  color: var(--token-C1Veo5obbY56Y);
  text-align: left;
  min-width: 0;
}
.rating__eB2ZF:global(.__wab_instance) {
  position: relative;
}
.productCard__cJw0L:global(.__wab_instance) {
  position: relative;
}
.svg__rstEs {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uzvYb {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__vIr6 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___3NC8 {
  width: 100%;
  height: auto;
  color: var(--token-C1Veo5obbY56Y);
  text-align: left;
  min-width: 0;
}
.rating__gUsM:global(.__wab_instance) {
  position: relative;
}
.section__v5Pzl {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#00000080, #00000080),
    url("https://images.unsplash.com/photo-1552346154-21d32810aba3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80")
      left 50% top 50% / cover;
}
.container434 {
  flex-direction: row;
  max-width: 1024px;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container434 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container434 > :global(.__wab_flex-container) > *,
.container434 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container434 > :global(.__wab_flex-container) > picture > img,
.container434
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.value__kJbuj:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__nc4Tz {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  width: 100%;
  height: auto;
  color: #ffffff;
  min-width: 0;
}
.text__onbBo {
  color: #cccccc;
  width: 100%;
  height: auto;
  min-width: 0;
}
.svg__ftWq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__wy6IK:global(.__wab_instance) {
  position: relative;
}
.svg__sgD9X {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__cjStQ {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.section___8Sh03 {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f2f2f7;
}
.container433 {
  flex-direction: row;
  max-width: 1024px;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.container433 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 32px) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 32px) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 32px) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 32px) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > *,
.container433 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container433 > :global(.__wab_flex-container) > picture > img,
.container433
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 {
    display: flex;
    flex-direction: row;
    padding-top: 64px;
    padding-bottom: 64px;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 > :global(.__wab_flex-container) > *,
  .container433 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .container433 > :global(.__wab_flex-container) > picture > img,
  .container433
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 32px;
  }
}
.column__mwa2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.value__sYleE:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__sYleE:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text___7ND0 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text__yqFLw {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button__cmoqo:global(.__wab_instance) {
  position: relative;
}
.svg__xckVw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__f9Oiq {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__eYxk7 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button___73Tg0:global(.__wab_instance) {
  position: relative;
}
.svg__fZlJ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wSn1H {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__u7P3L {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.value__vCtHb:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__vCtHb:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__xrNj {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text___3EbTi {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button__a482W:global(.__wab_instance) {
  position: relative;
}
.svg__da3Cn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__csuW0 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__swQse {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button__wfFsY:global(.__wab_instance) {
  position: relative;
}
.svg__vq4Md {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__paRHx {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__kdYj6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.value___1Uxjm:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value___1Uxjm:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__dmNxG {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text__bwLxR {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button__aen3F:global(.__wab_instance) {
  position: relative;
}
.svg__mf4Ug {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___6HpOb {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__dEbbW {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button___0Y5A4:global(.__wab_instance) {
  position: relative;
}
.svg__iMiIn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uVhnC {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__cy5GI {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.value__yxDlj:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__yxDlj:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text___8A7Vt {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text___63S {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button__rSoUx:global(.__wab_instance) {
  position: relative;
}
.svg__bn4On {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__msoJd {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__ptiJg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button__gaw9B:global(.__wab_instance) {
  position: relative;
}
.svg__ds7Cq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fdB5W {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.footer:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
