.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 32px;
  border-top: 1px solid #e5e5ea;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
.freeBox__kdRBk {
  flex-direction: row;
  max-width: 1024px;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.freeBox__kdRBk > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__kdRBk > :global(.__wab_flex-container) > *,
.freeBox__kdRBk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kdRBk > :global(.__wab_flex-container) > picture > img,
.freeBox__kdRBk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kdRBk {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kdRBk > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kdRBk > :global(.__wab_flex-container) > *,
  .freeBox__kdRBk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kdRBk > :global(.__wab_flex-container) > picture > img,
  .freeBox__kdRBk
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__t6XQh {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__t6XQh > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__t6XQh > :global(.__wab_flex-container) > *,
.freeBox__t6XQh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__t6XQh > :global(.__wab_flex-container) > picture > img,
.freeBox__t6XQh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__dgl5 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
}
.text___3Lbgv {
  height: auto;
  width: 100%;
  white-space: pre-wrap;
  min-width: 0;
}
.textInput:global(.__wab_instance) {
  position: relative;
}
.svg__gcE1Z {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__xlYpv {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__qahH:global(.__wab_instance) {
  position: relative;
}
.svg__p9Wco {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___4USmn {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__lXiqB {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__lXiqB > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__lXiqB > :global(.__wab_flex-container) > *,
.freeBox__lXiqB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lXiqB > :global(.__wab_flex-container) > picture > img,
.freeBox__lXiqB
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__xrP9X {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.freeBox__mYiDj {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__mYiDj > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__mYiDj > :global(.__wab_flex-container) > *,
.freeBox__mYiDj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mYiDj > :global(.__wab_flex-container) > picture > img,
.freeBox__mYiDj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.svg__udn77 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg__fktN2 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__myAq8:global(.__wab_instance) {
  position: relative;
}
.svg__g6GwD {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.text__kg3Oe {
  height: auto;
}
.svg__fmHhi {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__nYfz:global(.__wab_instance) {
  position: relative;
}
.svg__hr6Ms {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.text__tcmKs {
  height: auto;
}
.svg__yhuHi {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__tpHHy {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__tpHHy > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__tpHHy > :global(.__wab_flex-container) > *,
.freeBox__tpHHy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tpHHy > :global(.__wab_flex-container) > picture > img,
.freeBox__tpHHy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__vu13I {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.freeBox__bMRgW {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.freeBox__xSRl6 {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__xSRl6 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__xSRl6 > :global(.__wab_flex-container) > *,
.freeBox__xSRl6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xSRl6 > :global(.__wab_flex-container) > picture > img,
.freeBox__xSRl6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.svg__paPxn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wkt3D {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___5VFe:global(.__wab_instance) {
  position: relative;
}
.svg__adjfN {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___2Tm23 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__kVbq:global(.__wab_instance) {
  position: relative;
}
.svg__wWiPk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wbVeC {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__kg0Gw:global(.__wab_instance) {
  position: relative;
}
.svg__qsguq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___5Rj6 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox___6Cv2P {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox___6Cv2P > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___6Cv2P > :global(.__wab_flex-container) > *,
.freeBox___6Cv2P > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6Cv2P > :global(.__wab_flex-container) > picture > img,
.freeBox___6Cv2P
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.button__mkc6:global(.__wab_instance) {
  position: relative;
}
.svg__k4Ck {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__sxnkg {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__lxFoO:global(.__wab_instance) {
  position: relative;
}
.svg__kjnmj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wDfK9 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__onLPh:global(.__wab_instance) {
  position: relative;
}
.svg__c76A {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bY3Zb {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.copyrightSocialLanguage:global(.__wab_instance) {
  position: relative;
}
